body{
    text-align: center;

    background: linear-gradient(to right, #4facfe, #00f2fe);
    /* Colors: Blue to Cyan */ 
   
}
h1{
    font-family: 'Lucida Handwriting', cursive;
    color: rgb(255, 0, 0);
}
.btn{
    height: 150px;
    width: 150px;
    display: inline-block;
    margin: 10px;
    border-radius: 20px;
    border: solid 5px black;
}
.button{
    font-family: "Open Sans", sans-serif;
  font-size: 16px;
  letter-spacing: 2px;
  text-decoration: none;
  text-transform: uppercase;
  color: #000;
  cursor: pointer;
  border: 3px solid;
  padding: 0.25em 0.5em;
  box-shadow: 1px 1px 0px 0px, 2px 2px 0px 0px, 3px 3px 0px 0px, 4px 4px 0px 0px, 5px 5px 0px 0px;
  position: relative;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
    
}
.button:active {
  box-shadow: 0px 0px 0px 0px;
  top: 5px;
  left: 5px;
}

@media (min-width: 768px) {
  .button {
    padding: 0.25em 0.75em;
  }
}
.green{
    background-color: green;
}
.red{
    background-color: red;
}
.yellow{
    background-color: yellow;
}
.blue{
    background-color: blue;
}
.flash{
    background-color: white;
}
.userflash{
    background-color: black;
}